

.animation {
    display: grid;
    margin: 10px;
    place-content: overlay;
    text-align: center;
    background: transparent;
}
.type{
    font-size: 3vw;
    position: relative;
    font-family: "source code pro",monospace;
    width: max-content;
}
.type::before,
.type::after{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.type::before{
    background: white;
    animation: typewriter 3s steps(35) .5s forwards;
}
.type::after{
    width: 0.125em;
    background:  black;    
    animation: typewriter 3s steps(35) .5s forwards, blink 750ms steps(35) infinite;
}

@keyframes typewriter {
    to{
        left: 100%;
    } 
}
@keyframes blink{
    to {background: transparent;}
}





.responsive{
    width: 100%;
    height: auto;
    margin:50px 0px 0px 0px;
}
.centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}






form.search input{
    float: left;
    padding: 10px;
    width: 75%;
    background: lightblue;
    font-size: 2vw;
    border: 30px gray;

}
form.search button{
     float: right; 
     padding: 10px;
     width: 24%;
     background: lightcoral;
     font-size: 2vw;
     border: 20px gray;
     text-indent:5px;

}
form.example::after {
    content: "";
    clear: both;
    display: table;
}


.content{
    padding: 30px;
}




.contact{
    padding:10px;
    float: left;
    text-indent: 20px;
    
}

.location{
    padding: 2.5em;
    
}

#map {
  width: 100%;
  height:160px;
  position: relative;
  border-radius: 10px;
}

