{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <title>About-COVPROT</title>
</head>


<!--navbar-->



<body class="bg-light" style="padding-top: 100px;">

    <section>
            <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top shadow">
                <div class="container" > <!-- bg-body rounded-->
                    <a href="index" class="navbar-brand p-1" rel="noreferrer noopener"> <h3>COVPROT</h3> </a>   <!--<sup>covid proteome database</sup>-->         

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navmenu">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="index" class="nav-link" rel="noreferrer noopener">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link  active" rel="noreferrer noopener">About </a>
                            </li>
                            <li class="nav-item">
                                <a href="team" class="nav-link" rel="noreferrer noopener">Team</a>
                            </li>
                            <li class="nav-item">
                                <a href="publications" class="nav-link" rel="noreferrer noopener" >Publications</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </section>


<!--body-->



<section>
    <div class="container p-5">
        <div class="d-md-flex">
            <div class="card bg-success text-light col-md-4 p-3 shadow">
                <h3 class="card-title text-center">Resource status</h3>
                <p class="card-text align-left">
                </p>
                <p class="card-text align-left">Lorem
                    <span style="float:right"><b>23567</b></span>
                </p>
                <p class="card-text align-left">Proteins
                    <span style="float:right"><b>23567</b></span>
                </p>
                <p class="card-text align-left">Peptides
                    <span style="float:right"><b>23567</b></span>
                </p>
                <p class="card-text align-left">Date published
                    <span style="float:right"><b>23567</b></span>
                </p>
                <p class="card-text align-left">Last published
                    <span style="float:right"><b>23567</b></span>
                </p>
            </div>
            <div class="col-md-8 p-5">   
                <h1>Kudos to you!</h1>
                <p> Namaste! This portal is hosting proteomic data of multiple samples and cohorts.</p>
            </div>
        </div>
    </div>  
</section>



<!--footer-->





    <section class="p-5 shadow ">
        <div class= "container">
            <div class="row g-3">
                <div class="col-md-6 col-sm-12 contact">
                    <h3 class="text-center">Contact details</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Location-</strong> Proteomics lab, Department of Biosciences and Bioengineering, IIT Bombay, Powai, Mumbai, Maharashtra, 400076</li>
                        <li class="list-group-item"><strong>Phone-</strong> (+52) 9999999999</li>
                        <li class="list-group-item"><strong>E-mail address-</strong> email@email.com</li>
                    </ul>
                </div>
                <div class="col-md-6 location">
                    <div id="map"></div>
                </div>          
            </div>
        </div>
    </section>

        

    <footer>
        <div class="container text-center align-content-center p-3">
                <a href="https://www.bio.iitb.ac.in/~sanjeeva/" target="_blank" rel="noreferrer noopener"><img src="{% static 'massfiitb.jpg' %}" alt="MASSFIITB" style="width: 13vw; margin:10px;"></a> 
                <a href="https://www.iitb.ac.in" target="_blank" rel="noreferrer noopener"><img src="{% static 'iitb1.png' %}" alt="IITB" style="width: 13vw; margin:10px;"></a> 
                <div class="git float-end">
                    <h1 class="d-inline"><a href="https://gitlab.com/covdb/cov-database/-/tree/backend" target="_blank"><i class="bi bi-github"></i></a></h1>
                </div>
                <br><sup>©Proteomics lab IITB</sup>
        </div>
    </footer>



    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiaHNwaSIsImEiOiJja3R2OW53djQwaWU5MzJtbXdrM2ZvdDgwIn0.Y7JsRzHx54zdW9JrTeINVQ';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [ 72.918110, 19.130845],
            zoom: 15,
            })
            const marker1 = new mapboxgl.Marker()
            .setLngLat([72.917950, 19.130745])
            .addTo(map);
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>
</html>

