{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'autocomplete.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <title>Results</title>
</head>


<!--navbar-->



<body class="bg-light" style="padding-top: 40px;">

    <section>
        <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top shadow">
            <div class="container" > <!-- bg-body rounded-->
                <a href="index" class="navbar-brand p-1" rel="noreferrer noopener"> <h3>COVPROT</h3> </a>   <!--<sup>covid proteome database</sup>-->         

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="index" class="nav-link active" rel="noreferrer noopener">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="about" class="nav-link " rel="noreferrer noopener">About </a>
                        </li>
                        <li class="nav-item">
                            <a href="team" class="nav-link" rel="noreferrer noopener">Team</a>
                        </li>
                        <li class="nav-item">
                            <a href="publications" class="nav-link" rel="noreferrer noopener" >Publications</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>    
    </section>



<!--body-->
<!--search-->

    

    <section>
        <div class="container p-5 autocomplete" id="autocomplete">
            <form class="search" action="result" method="get">
                <input type="text" name="search" class="form-control form-control-lg d-inline rounded shadow autocomplete-input" placeholder="Search by Protein name or ID">   
                <button  type="submit" class="btn btn-primary btn-lg d-flex rounded shadow"> <i class="bi bi-search"></i> Search </button>
            </form>
            <div>
                <ul class="autocomplete-result-list"></ul>
            </div>
            <sub>Please type atleast 3 characters for auto-suggestions. You can search by protein id, uniprot id or even protein name but only the protein id is displayed for selection.
                If uncertain of selection, click search without selecting any options to get more info about the options.</sub>
        </div>
    </section>



    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <script>
        new Autocomplete('#autocomplete', {

            search: input => {
                console.log(input)
                const url = `search?search=${input}`
                return new Promise(resolve => {
                    if (input.length < 3) {
                        return resolve([])
                    }
                    fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        resolve(data.id)
                    })
                })
            },
            autoSelect:false,

        })
    </script>


<!--result display area-->
    <section>
        <div class="container">
            {% block content %}

            {% endblock %}

        </div>
    </section>







<!--footer-->


    <section class="p-5 shadow ">
        <div class= "container">
            <div class="row g-3">
                <div class="col-md-6 col-sm-12 contact">
                    <h3 class="text-center">Contact details</h3>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item "><strong>Location-</strong> Proteomics lab, Department of Biosciences and Bioengineering, IIT Bombay, Powai, Mumbai, Maharashtra, 400076</li>
                        <li class="list-group-item"><strong>Phone-</strong> (+52) 9999999999</li>
                        <li class="list-group-item"><strong>E-mail address-</strong> email@email.com</li>
                    </ul>
                </div>
                <div class="col-md-6 location">
                    <div id="map"></div>
                </div>          
            </div>
        </div>
    </section>

        

    <footer>
        <div class="container text-center align-content-center p-3">
                <a href="https://www.bio.iitb.ac.in/~sanjeeva/" target="_blank" rel="noreferrer noopener"><img src="{% static 'massfiitb.jpg' %}" alt="MASSFIITB" style="width: 13vw; margin:10px;"></a> 
                <a href="https://www.iitb.ac.in" target="_blank" rel="noreferrer noopener"><img src="{% static 'iitb1.png' %}" alt="IITB" style="width: 13vw; margin:10px;"></a> 
                <div class="git float-end">
                    <h1 class="d-inline"><a href="https://gitlab.com/covdb/cov-database/-/tree/backend" target="_blank"><i class="bi bi-github"></i></a></h1>
                </div>
                <br><sup>©Proteomics lab IITB</sup>
        </div>
    </footer>

    

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiaHNwaSIsImEiOiJja3R2OW53djQwaWU5MzJtbXdrM2ZvdDgwIn0.Y7JsRzHx54zdW9JrTeINVQ';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [ 72.918110, 19.130845],
            zoom: 15,
            })
            const marker1 = new mapboxgl.Marker()
            .setLngLat([72.917950, 19.130745])
            .addTo(map);
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>