{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        tr:nth-child(even){background-color: #dadada} 
    </style>
    
    <div>
        <h2 class="d-sm-block d-md-inline">Hey there!! welcome to the Patient data!</h2>
        <a class="btn btn-success m-3" href="#plasma"> Go to Plasma data</a>
        <div class="float-md-end m-3 d-sm-inline">
            <a class="btn btn-primary" href="{% static 'swabpatient.csv' %}" download="swabpatient" role="button">
                <span class="bi bi-download"> &nbsp Download Swab Data</span>
            </a>
        </div>
        <div class="float-md-end m-3 d-sm-inline">
            <a class="btn btn-primary" href="{% static 'plasmapatient.csv' %}" download="plasmapatient" role="button">
                <span class="bi bi-download"> &nbsp Download Plasma Data</span>
            </a>
        </div>
        <br><br>
        

        <div class="table-responsive m-md-5">
            <h3 style="text-align: center;"> Swab patient data</h3>
            <table border="4" style="margin: auto;">
                <tr style="background-color: lightgreen;"><th>Patient_id</th><th>Grouping</th><th>Status</th><th>Age</th><th>Sex</th><th>CT</th><th>Severe clinical symptoms</th><th>on ventilation</th><th>Outcome</th></tr>
                {% for data in swabdatas %}
                    <tr><td>{{data.patient_id}}</td><td>{{data.grouping}}</td><td>{{data.status}}</td><td>{{data.age}}</td><td>{{data.sex}}</td><td>{{data.ct}}</td><td>{{data.severe_clinical_symptoms}}</td><td>{{data.on_ventilation}}</td><td>{{data.outcome}}</td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="table-responsive m-md-5" id="plasma">
            <h3 style="text-align: center;"> Plasma patient data</h3>
            <table border="4" style="margin: auto;">
                <tr style="background-color: lightgreen;"><th>Patient_id</th><th>Grouping</th><th>Status</th><th>Age</th><th>Sex</th><th>CT</th><th>Severe clinical symptoms</th><th>on ventilation</th><th>Outcome</th></tr>
                {% for data in plasmadatas %}
                    <tr><td>{{data.patient_id}}</td><td>{{data.grouping}}</td><td>{{data.status}}</td><td>{{data.age}}</td><td>{{data.sex}}</td><td>{{data.ct}}</td><td>{{data.severe_clinical_symptoms}}</td><td>{{data.on_ventilation}}</td><td>{{data.outcome}}</td></tr>
                {% endfor %}
            </table>
        </div>

    </div>


{% endblock %}