{% extends 'base.html' %}

{% load static %}
{% block content %}

    <div>
        <h3>Hey there!! welcome to the result page!</h3><br>
        <h3>{{search}}</h3>
    </div>


{%for data in datas %}



    <section>
        <div class="container p-5">

            <div class="d-lg-flex">
                <div class="col-lg-4">
                    <div class="card bg-success text-light p-3 shadow content" style="height: fit-content;">
                        <h3 class="card-title text-center">{{data.protein_id}}</h3>
                        <p class="card-text align-left">
                        </p>
                        <p class="card-text align-left">Uniprot id
                            <span style="float:right"><b>{{data.uniprot_id}}</b></span>
                        </p>
                        <p class="card-text align-left">Gene name
                            <span style="float:right"><b>{{data.gene_name}}</b></span>
                        </p>
                        <p class="card-text align-left">Protein name
                            <span style="float:right"><b>{{data.protein_name}}</b></span>
                        </p>
                        <p class="card-text align-left">No. of. samples found
                            <span style="float:right"><b>{{data.no_of_samples}}</b></
                        </p>
                        <p class="card-text align-left">Uniprot 
                            <span style="float:right"><b><a href="https://www.uniprot.org/uniprot/{{data.uniprot_id}}" target="_blank"><i class="bi bi-box-arrow-up-right" style="color: aliceblue;">&nbsp; Link</i></a></b></span>
                        </p>
                        <p class="card-text align-left">NextProt
                            <span style="float:right"><b><a href= "https://www.nextprot.org/proteins/search?query={{data.uniprot_id}}"target="_blank"><i class="bi bi-box-arrow-up-right" style="color: aliceblue;">&nbsp; Link</i></a></b></span>
                        </p>
                    </div>
                    <div class="m-3">
                        <a class="btn btn-primary d-block" href="patient" role="button"> patient data</a>
                    </div>
                </div>
                


                <div class="container col-lg-8 p-3">

                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item" ><button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-swab">Swab Intensities</button></li>
                        <li class="nav-item" ><button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-plasma">Plasma Intensities</button></li>
                        <li class="nav-item" ><button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-download"><i class="bi bi-download"></i> &nbsp Analysis and reports</button></li>
                    </ul>

                    
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-swab"  >
                            <h2 class="text-center">{{swabdata}}</h2>
                                {{splot | safe}}
                            <table>
                                <tr><td>Reading the graph-</td><th><div style="color:red">&#9632; Severe &nbsp;</th><th><div style="color:rgba(211, 211, 69, 0.863)">&#9632;Non-severe &nbsp;</th><th><div style="color:green">&#9632; Healthy</th></tr>             
                            </table><br>
                            <h3 class="text-center">{{swabboxplot}}</h3>
                                {{swabbox | safe}}
                            Hovering over the graph will give the mean, median and quartile values. The dots represent individual samples in that category.
                            <br><br>
                        </div>


                        <div class="tab-pane fade" id="pills-plasma"  >
                            <h2 class="text-center">{{plasmadata}}</h2>
                                {{pplot | safe}}
                            <table>
                                <tr><td>Reading the graph-</td><th><div style="color:red">&#9632; Severe &nbsp;</th><th><div style="color:rgba(211, 211, 69, 0.863)">&#9632;Non-severe &nbsp;</th><th><div style="color:green">&#9632; Healthy</th></tr>             
                            </table><br>
                            <h3 class="text-center">{{plasmaboxplot}}</h3>
                                {{plasmabox | safe}}
                            Hovering over the graph will give the mean, median and quartile values. The dots represent individual samples in that category.
                        </div>


                        <div class="tab-pane fade" id="pills-download"  >
                            <div class="m-3">
                                <br>This file contains the proteomic intensities of Swab data as RAW and LOG transformed <br>
                                Size : 404 KBb <br>
                                Format : CSV
                                <br>
                                <a class="btn btn-primary d-block" href="{% static 'swabdata.csv' %}" role="button">Swab data</a>
                            </div>
                            <div class="m-3">
                                <br>This file contains the proteomic intensities of Plasma data as LOG transformed <br>
                                Size : 262 KB <br>
                                Format : CSV
                                <br>
                                <a class="btn btn-primary d-block" href="{% static 'plasmadata.csv' %}" role="button">Plasma data</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>  
    </section>

{% endfor %}

{% endblock %}

