{% extends 'base.html' %}


{% block content %}

    <style>
        tr:nth-child(even){background-color: #dadada} 
    </style>
    
    <div>
        <h3>Hey there!! welcome to the result page!</h3><br>
        <h3>Lets start exploring in "{{search}}"</h3> <br>

        
        <table border="4" class=" table-responsive m-md-5" style="margin: auto;">
            <tr style="background-color: lightgreen;"><th>Protein id</th><th>Uniprot id</th><th>Protein names</th><th>Gene names</th></tr>
            {% for data in datas %}
                <tr><td>{{data.protein_id}}</td><td>{{data.uniprot_id}}</td><td>{{data.protein_name}}</td><td>{{data.gene_name}}</td></tr>
            {% endfor %}
            {% for data in datap %}
                <tr><td>{{data.uniprot_id}}</td><td>{{data.gene_name}}</td></tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}